{% extends 'base.html.twig' %}

{% block title %}E221 TECH{% endblock %}

{% block body %}
<div class="div_middle">
    <div class="text_middle">
        <h1 class="text-dark">BIENVENUE CHEZ E221 TECH<br> LA MEILLEURE SOCIETE DE GESTION IMMOBILIERE !</h1>
    </div>
</div>
<img src="{{ asset('images/1.png') }}" width="100%" alt="Symfony!"/>
{% endblock %}
